.erro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 100px);
    gap: 10px;
    flex-direction: column;


    a{
        padding: 10px 20px;
        background-color: black;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        font-size: 17px;

        
    }
}