

.contentDescricao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px 20px 20px;
    gap: 40px;
}
.containerDescricao{
    max-width: 700px;
}

.contentBanner{
   position: relative;
   width: 100%;
   height: 400px;
   max-width: 350px;

}

@media (min-width:640px){
    .contentDescricao{
        flex-direction: row;
    
    } 
  .descricao,.contentBanner{
    flex: 1;
  }
}

@media (max-width:640px){
   

  .descricao{
    text-align: center;
  }
 
}