.submenu{
    padding: 90px 14px 20px 24px;
}
.menu{
    display: none;
    cursor: pointer;
    max-width: 100px;
}
.ul{
    list-style: none;
    display: none;
    li a{
        background-color: black;
        padding: 5px 16px;
        border-radius: 4px;
        color: aliceblue;
        font-weight: bold;
          transition: all 0.6s;
                &:hover{
                    background-color: azure;
                    color: black;
                }

    }
}

.fecharToggle{
    cursor: pointer;
}

@media (min-width:750px){
  .ul{
    display: flex;
    gap: 10px;
  }
}
@media (max-width:750px){
    .menu{
        display: flex;
        gap: 8px;
        span{
            margin-top: 3px;
            font-weight: bold;
            font-size: 18px;
        }
      
    }
    .ul{
        position: fixed;
        z-index: 99;
        background-color: aliceblue;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
      
        &.open{
            display: flex;
          

        }

        
        li a{
            padding: 10px 60px;
            transition: all 0.6s;
                &:hover{
                    background-color: azure;
                    color: black;
                }
        }
    }
 




    .submenu{
        padding-top: 60px ;
    }
}